:root{
    --primary: rgb(50, 168, 145);
    --secondary: azure;
}

body{
    background-color: var(--secondary);
}

.navbar{
    background-color: var(--primary) !important;
}

.navbar .navbar-brand{
    color: var(--secondary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a:hover{
    color: var(--secondary);
}

.navbar .nav-link{
    color: var(--secondary);
}

.footer{
    background-color: var(--primary);
    width: 100%;
    padding: 1em;
    margin-top: 5em;
    color: var(--secondary);
}

.main_content .section1{
    margin-top: 2em;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 3em 1em;
    height: 500px;
}

.main_content .section1 h2{
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1em;
}

.main_content .section1 p {
    font-size: 18px;
    line-height: 28px;
}

.main_content .section1 a {
    background-color: var(--secondary);
    color: var(--primary);
    padding: .8em 5em;
    margin-top: 2em;
}

.main_content .section2{
    padding: 1em;
}

.main_content .section2 .box{
    padding: 1em;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.059);
    /* height: 300px; */
    margin-bottom: 2em;
    border-radius: 6px;
}

.main_content .section2 .box h3{
    color: var(--primary);
    margin-bottom: 1em;
    margin-top: .5em;
}

.main_content .section2 .box p {
    line-height: 30px;
    color: grey;
    font-size: 18px;
}

.main_content .section2 .box i{
    font-size: 3em;
    color: var(--primary);
    margin-bottom: .5em;
}

.main_content .section2 h2{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_content .section2 a{
    color: var(--primary);
    text-decoration: none;
    font-size: 1.4em;
}

.main_content .section2 .desc h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 45px;
}

.main_content .section2 .desc{
    margin-bottom: 6em;
}

.green{
    color: var(--primary) !important;
}

.floating_window{
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    color: var(--secondary);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    /* transform: translateY(-60px); */
    padding: .9em;
    transition: .1s;
    animation: glow 3s infinite ease-in-out;
    margin-bottom: 1em;
}

.floating_window.show{
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    width: 90%;
    height: 600px;
    border-radius: 2%;
    color: var(--secondary);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    transform: translateY(-20px);
    transition: .1s;
    padding: 1em;
    animation: none;
}

.floating_window i{
    font-size: 1.5em;
    /* display: none; */
}

@keyframes glow {
    0%{box-shadow: .1em .1em 1em var(--primary)}
    25%{box-shadow: .1em .1em 1em var(--primary)}
    50%{box-shadow: .1em .1em 1em var(--primary);}
    75%{box-shadow: .1em .1em 1em var(--primary)}
    100%{box-shadow: .1em .1em 1em var(--primary)}
}


.login{
    position: fixed;
    height: 100vh;
    width: 100%;
    padding-bottom: 5em;
}

.login .img{
    width: 50%;
    border-right: 1px solid rgb(227, 227, 227);
    display: none;
}

.login .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login .form{
    width: 100%;
    overflow: scroll;
    padding: 2em;
}

.login .form .alt{
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.login .form h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login .form input{
    border: 1px solid rgb(195, 194, 194);
    padding: .6em;
    width: 100%;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
}

.login .form .text{
    margin-left: 0%;
    position: relative;
    margin-bottom: 2em;
}

.login .form .move_up{
    transform: translateX(17px);
    left: 0;
    margin-top: -2.4em;
    color: grey;
    transition: .2s;
    font-size: 14px;
    width: fit-content;
    padding: 0em .3em;
}

.login .form a{
    font-size: 14px;
    text-decoration: none;
    color: grey;
    display: block;
}

.login .form button{
    background-color: var(--primary);
    color: white;
    width: 20em;
    padding: .5em ;
    margin-top: 2em;
}

.login .form .focus.active{
    border: 1px solid var(--primary);
}

.login .form .move_up.active{
    transform: translateY(-23px) translateX(17px);
    transition: .2s;
    background-color: white;
    font-size: 12px;
    color: var(--primary);;
}

.for_what{
    font-size: 12px;
}

.login .dropdown li a{
    font-size: 12px !important;
}

.login .social{
    width: 12%;
    margin: auto auto;
    margin-top: 4em;
}

.login .social i{
    font-size: 1.5em;
}

.login .social i:hover{
    cursor: pointer;
}

.dashboard{
    /* padding: 1em; */
}

.dashboard .section1{
    height: 250px;
}

.dashboard .section3{
    background-color: var(--secondary);
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.158);
    padding: 2em;
    /* height: 400px; */
    width: 90%;
    margin: auto auto;
    border-radius: 6px;
    position: relative;
    padding-bottom: 2em;
}

.dashboard .section3 .name{
    background-color: var(--primary);
    color: var(--secondary);
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    transform: translateY(-25px) translateX(-10px);
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard .move{
    transform: translateY(-170px);
}

.dashboard .section3 .bal{
    color: var(--primary);
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard .section3 .icon{
    background-color: rgba(35, 153, 96, 0.114);
    padding: 1em;
    height: 60px;
    width: 60px;
    text-align: center;
}

.dashboard .section3 .total{
    padding-top: 2em;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 1em;
}

.dashboard .section3 i{
    color: var(--primary);
    font-size: 1.6em;
    text-align: center;
}

.dashboard .move .box{
    background-color: var(--secondary);
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.158);
    padding: 2em;
    /* height: 100px; */
    width: 90%;
    margin: auto auto;
    margin-top: 3em;
    overflow: hidden;
}

.dashboard .move .box h2{
    color: var(--primary);
    margin-bottom: .5em;
    font-size: 1.2em;
}

.dashboard .move .box h6{
    font-size: 1.3em;
    color: rgb(83, 83, 83);
}

.dashboard .move .box a{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: 1em;
    padding-bottom: .7em;
}

.dashboard .transact{
    margin-top: 4em;
}

.dashboard .transact_list{
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-top: 1em;
    padding-bottom: .4em;   
    color: rgb(75, 74, 74);
    display: none !important;
}